col-lg-12
    div(ng-controller="gridCtrl")
        table(ng-table="tableParams", class="table")
            tr(ng-repeat="mail in mailsData")
                td(data-title="'Subject'") {{mail.mheaders.subject[0]}}
                td(data-title="'Sender'") {{mail.mheaders.from[0]}}
                td(data-title="'Date'") {{mail.mheaders.date[0]}}

